
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml


#other stuff
*.pyc
*cpython-36.pyc
./pushup_scoreboard/__pycache*
./scoreboard/__pycache*
.ipynb_checkpoints
